/*


## allow some files
!.gitignore
!.gitmodules
!*.md
!*.in
!*.env
!*.adoc
!*.html
!*.yml
!*.sh
!*.txt
!*.py
!*.cfg
!*.example
!*.toml
!LICENSE*

!assets/
!_includes/
!_layouts/
!_pages/
!_posts/
!_sass/
!site/


**/_site
**/.sass-cache

**/*~
**/*.swp
**/nohup.*
**/*.log
**/*bk
**/temp.*
**/*.local.*
**/README.html
**/node_modules
**/*.pyc
**/*__pycache__
**/*.ipynb_checkpoints
**/*.py.*

**/.gradle
**/.idea
**/.externalNativeBuild
**/gradle
**/captures
**/screenshot
**/*.iml
**/.DS_Store
**/.gradle
**/.idea
**/.externalNativeBuild

**/build
**/dist
**/bin

**/*.egg-info
**/*.egg
